<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luotf.mapper.BlackIpMapper">
  <cache />
  <resultMap id="BaseResultMap" type="com.luotf.model.BlackIp">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="vid" jdbcType="INTEGER" property="vid" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="browserType" jdbcType="VARCHAR" property="browsertype" />
    <result column="platformType" jdbcType="VARCHAR" property="platformtype" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
  </resultMap>
  <sql id="Base_Column_List">
   
    id, vid, ip, city, browserType, platformType, time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
   
    select 
    <include refid="Base_Column_List" />
    from t_blackip
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  
  <select id="selectAllBlackIpCount" resultType="Long">
    select
    count(*) 
    from t_blackip
  </select>
  
  <select id="selectBlackIpByIp" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_blackip
    where ip = #{ip,jdbcType=VARCHAR}
  </select>
  
  <select id="selectLikeBlackIpListByPage" parameterType="Map"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_blackip
		<where>
			<if test="ip!=null and ip!=''">
				and (ip like CONCAT(CONCAT('%', #{ip}), '%') or city like
				CONCAT(CONCAT('%', #{city}), '%') or platformType like
				CONCAT(CONCAT('%', #{platformType}), '%') or browserType like
				CONCAT(CONCAT('%', #{browserType}), '%'))
			</if>
			<if test="startTime!=null and startTime!=''">
				and DATE_FORMAT(time,'%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
			</if>
		</where>
		ORDER BY time DESC
	</select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    
    delete from t_blackip
    where vid = #{vid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.luotf.model.BlackIp">
    
    insert into t_blackip (id, vid,ip, city, 
      browserType, platformType, time
      )
    values (#{id,jdbcType=INTEGER},#{vid,jdbcType=INTEGER}, #{ip,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{browsertype,jdbcType=VARCHAR}, #{platformtype,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.luotf.model.BlackIp">
    
    insert into t_blackip
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="vid != null">
        vid,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="browsertype != null">
        browserType,
      </if>
      <if test="platformtype != null">
        platformType,
      </if>
      <if test="time != null">
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="vid != null">
        #{vid,jdbcType=INTEGER},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="browsertype != null">
        #{browsertype,jdbcType=VARCHAR},
      </if>
      <if test="platformtype != null">
        #{platformtype,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.luotf.model.BlackIp">
    
    update t_blackip
    <set>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
       <if test="vip != null">
        vip = #{vip,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="browsertype != null">
        browserType = #{browsertype,jdbcType=VARCHAR},
      </if>
      <if test="platformtype != null">
        platformType = #{platformtype,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.luotf.model.BlackIp">
    
    update t_blackip
    set ip = #{ip,jdbcType=VARCHAR},
       vip = #{vip,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      browserType = #{browsertype,jdbcType=VARCHAR},
      platformType = #{platformtype,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>