<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luotf.mapper.LogMapper">
  <resultMap id="BaseResultMap" type="com.luotf.model.Log">
    
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userType" jdbcType="VARCHAR" property="userType" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="param" jdbcType="VARCHAR" property="param" />
    <result column="addTime" jdbcType="TIMESTAMP" property="addtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, userType,ip, description, param,addTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectLogListByDate" resultType="map"
		parameterType="Map">
		SELECT 
			<include refid="Base_Column_List" />
		FROM
		t_log
		<where>
			<if test="startTime!=null and startTime!=''">
				and DATE_FORMAT(addTime,'%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
			</if>
			<if test="ip!=null and ip!=''">
		 		and ( ip like CONCAT(CONCAT('%', #{ip}), '%') or userType like CONCAT(CONCAT('%', #{userType}), '%') or description like CONCAT(CONCAT('%', #{description}), '%')) 
		 	</if>
		</where>
		order by addTime desc
	</select>
  <select id="selectUserLogByDate" resultType="map"  parameterType="Map">
	  	SELECT
			addTime,
			COUNT(*) AS count
		FROM
			t_log
		<where>
			<if test="startTime!=null and startTime!=''">
				and DATE_FORMAT(addTime,'%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
			</if>
			<if test="userType!=null and userType!=''">
		 		and userType=#{userType}
		 	</if>
		</where>
			GROUP BY DATE_FORMAT(addTime,'%Y-%m-%d')
		    
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.luotf.model.Log">
    insert into t_log (id,userType, ip, description, param,
      addTime)
    values (#{id,jdbcType=INTEGER}, #{userType,jdbcType=VARCHAR},#{ip,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{param,jdbcType=VARCHAR},#{addtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.luotf.model.Log">
    
    insert into t_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
       <if test="userType != null">
        userType,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="param != null">
        param,
      </if>
      <if test="addtime != null">
        addTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="param != null">
        #{param,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.luotf.model.Log">
   
    update t_log
    <set>
      <if test="userType != null">
        userType = #{userType,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="param != null">
        param = #{param,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null">
        addTime = #{addtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.luotf.model.Log">
    update t_log
    set userType = #{userType,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      param = #{param,jdbcType=VARCHAR},
      addTime = #{addtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>