<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luotf.mapper.VisitMapper">
  <resultMap id="BaseResultMap" type="com.luotf.model.Visit">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="browserType" jdbcType="VARCHAR" property="browserType" />
    <result column="platformType" jdbcType="VARCHAR" property="platformType" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
  </resultMap>
  <sql id="Base_Column_List">
    id, ip, url, time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_visit
    where id = #{id,jdbcType=INTEGER}
  </select>
  
   <select id="selectVisitByIp" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_visit
    where ip = #{ip,jdbcType=VARCHAR}
  </select>
  
  <select id="findVisitTimes" parameterType="com.luotf.model.Visit" resultType="Long">
		SELECT COUNT(*) from t_visit
		<where>
		 	<if test="ip!=null and ip!=''">
		 		and ip =#{ip}
		 	</if>
		 	<if test="url!=null and url!=''">
		 		and url =#{url}
		 	</if>
		 	<if test="browserType!=null and browserType!=''">
		 		and browserType =#{browserType}
		 	</if>
		 	<if test="platformType!=null and platformType!=''">
		 		and browserType =#{browserType}
		 	</if>
		 	<if test="time!=null ">
		 	and TO_DAYS(DATE_FORMAT(time,'%Y-%m-%d')) = TO_DAYS(#{time}) 
		 		<!-- and TO_DAYS(DATE_FORMAT(time,'%Y-%m-%d')) = TO_DAYS(#{time})  -->
		 	</if> 
		 </where>
	</select>
  
  	<select id="selectVisitListByDate" resultType="map" parameterType="Map">
		  SELECT 
		    COUNT(*) AS count
		  FROM
		    t_visit 
		   <where>
		 	<if test="startTime!=null and startTime!=''">
		 	and DATE_FORMAT(time,'%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
		 	</if>
		 </where>
		  GROUP BY DATE_FORMAT(time,'%Y-%m-%d')
	</select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_visit
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.luotf.model.Visit">
    insert into t_visit (id, ip, url,browserType,platformType,
      time)
    values (#{id,jdbcType=INTEGER}, #{ip,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{browserType,jdbcType=VARCHAR},#{platformType,jdbcType=VARCHAR},
      #{time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.luotf.model.Visit">
    insert into t_visit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="url != null">
        url,
      </if>
       <if test="url != null">
        browserType,
      </if>
       <if test="url != null">
        platformType,
      </if>
      <if test="time != null">
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{browserType,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{platformType,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.luotf.model.Visit">
    update t_visit
    <set>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        browserType = #{browserType,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        platformType = #{platformType,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.luotf.model.Visit">
    update t_visit
    set ip = #{ip,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      browserType = #{browserType,jdbcType=VARCHAR},
      platformType = #{platformType,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>