 @charset "gb2312";
.leftbox { width: 70%; float: left; overflow: hidden }
.rightbox { width: 28%; float: right; overflow: hidden }
/*图片展示*/
.pics { margin: 10px 0; overflow: hidden }
.pics ul li { width: 320px; height: 155px; float: left; margin: 10px auto; display: block; overflow: hidden; border-radius: 5px; position: relative; }
.pics ul li img { margin: auto; height: 100%; -moz-transition: all .5s ease; -webkit-transition: all .5s ease; transition: all .5s ease; }
.pics ul li:nth-child(1) { float: left }
.pics ul li:nth-child(2) { margin: 10px 20px }
.pics ul li:nth-child(3) { float: right }
.pics ul li span { width: 100%; display: block; position: absolute; bottom: 10px; background: #000; line-height: 30px; height: 30px; overflow: hidden; text-shadow: rgba(255, 255, 255, 0.3) 0px 1px 0px; color: #ccc; padding-left: 10px }
.pics ul li:hover img { transform: scale(1.1) }
/*h2*/
.hometitle { padding: 0 10px; line-height: 40px; height: 40px; font-size: 18px; ; border-bottom: #000 2px solid; position: relative; }
.hometitle span { float: right; font-weight: normal; font-size: 14px; height: 42px; overflow: hidden; position: absolute; right: 0; width: 100%; text-align: right }
.hometitle span a { display: block; float: right; position: relative; overflow: hidden; margin-right: 20px }
.hometitle span a:after { content: ''; display: block; width: 1px; height: 20px; border-radius: 10px; background: #000; -webkit-transform: rotate(45deg); transform: rotate(45deg); position: absolute; bottom: -10px }
/*特别推荐*/
.tuijian { background: #fff; overflow: hidden; width: 100%; clear: both; border-radius: 10px;margin: 20px 0px; }
.tuijian ul { overflow: hidden; padding: 0 10px }
.tuijian li { float: left; width: 27%; border-bottom: #ccc 1px solid; border-left: #ccc 1px solid; overflow: hidden; padding: 20px }
.tuijian li:nth-child(1) { border-left: 0 }
.tuijian li:nth-child(4) { border-left: 0; border-bottom: 0; }
.tuijian li:nth-child(5) { border-bottom: 0; }
.tuijian li:nth-child(6) { border-bottom: 0; }
.tpic { width: 100%; height: 100px; overflow: hidden; border-radius: 10px; background: #CCC }
.tuijian li img { margin: auto; width: 100%; -moz-transition: all .5s ease; -webkit-transition: all .5s ease; transition: all .5s ease; }
.tuijian li b { display: block; width: 100%; overflow: hidden; height: 30px; line-height: 30px; margin: 10px 0; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.tuijian li span { color: #999; height: 76px; display: block; overflow: hidden; }
.readmore { padding: 10px 0; display: block; color: #096; }
.readmore:before { content: "+"; color: #063 }
.tuijian li:hover { background: #fff; box-shadow: #000 1px 1px 10px; }
.tuijian li:hover img { transform: scale(1.1) }
/*最新文章*/
.newblogs { background: #fff; overflow: hidden; width: 100%; clear: both; border-radius: 10px; margin: 20px 0 }
h3.blogtitle { line-height: 30px; height: 30px; margin: 10px 0; }
.blogpic { overflow: hidden; width: 30%; height: 100px; display: block; float: left; margin-right: 20px; border-radius: 5px; background: #333333; }
.newblogs ul { padding: 10px; overflow: hidden }
.newblogs li { border-bottom: #ccc 1px solid; margin-bottom: 10px; overflow: hidden; }
.autor { width: 100%; overflow: hidden; clear: both; margin: 20px 0 0 0; display: inline-block; color: #838383; font-size: 12px }
.autor span { margin: 0 10px 0 0; padding-left: 20px }
.autor span a { color: #096; }
.autor span a:hover { text-decoration: underline }
.lm { background: url(../images/newsbg01.png) no-repeat left center }
.dtime { background: url(../images/newsbg02.png) no-repeat left center }
.viewnum { background: url(../images/newsbg04.png) no-repeat left center }
.pingl { background: url(../images/newsbg03.png) no-repeat left center }
.blogpic img { width: 100% }
.bloginfo p { color: #888; line-height: 24px }
.more { font-size: 14px; }
/*关于我*/
.aboutme { background: #FFF; border-radius: 10px; overflow: hidden }
.ab_title { text-align: center; position: relative; margin: 20px; width: 1005 }
.ab_title:before { content: ""; width: 70px; height: 2px; background: #000; position: absolute; left: 0; bottom: 8px }
.ab_title:after { content: ""; width: 70px; height: 2px; background: #000; position: absolute; right: 0; bottom: 8px }
.ab_con { line-height: 30px; padding: 10px; }
.ab_con p { background: #f6f6f6; margin: 5px 0; padding-left: 10px; border-radius: 5px; text-shadow: rgba(255, 255, 255, 0.3) 0px 1px 0px; }
.avatar { width: 158px; height: 100px; overflow: hidden;  margin: auto; }
.avatar img {  height: 100px }
/*search*/
.search1 { background: #FFF; border-radius: 10px; overflow: hidden; 
padding: 20px;
margin: 20px 0 }
.input_text { padding-left: 5px; border: 1px solid #ccc; width: 180px; height: 26px; line-height: 26px; background-color: #f2f2f2; float: left; border-radius: 5px 0 0 5px }
.input_submit { background-color: #333; color: #FFF; float: left; width: 50px; border: none; cursor: pointer; height: 28px; line-height: 28px; border-radius: 0 5px 5px 0 }
/*排行*/
.paihang { background: #FFF; border-radius: 10px; overflow: hidden; margin: 20px 0 }
.paihang ul { padding: 10px; }
.paihang ul li { border-bottom: solid 1px #EAEAEA; font-size: 14px; margin: 0 0 10px 0; padding: 0 0 10px 0; }
.paihang ul li b { height: 30px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; display: block; }
.paihang ul li p { line-height: 24px; color: #888 }
.paihang ul li a:hover { color: #000; }
.paihang ul li:hover { border-bottom: #000 1px solid; }/* 鼠标放上去的效果 */
.paihang ul li:hover p { color: #000; }
.paihang ul li:hover b a { color: #000; }
.ad i mg { width: 100%; margin: auto; display: block }
/*links*/
.links { width: 100%; background: #FFF; border-radius: 10px; overflow: hidden; margin: 20px 0 }
.links ul { padding: 0 30px 30px 30px }
.links ul li { line-height: 24px; border: 1px solid #ccc; margin: 0 0 10px 0; padding: 5px; text-align: center; border-radius: 5px; }
.links ul li:hover { background: #fff; box-shadow: #000 1px 1px 10px; }
.links ul li:hover a { color: #096 }
/*wx*/
.weixin { width: 100%; background: #FFF; border-radius: 10px; overflow: hidden; margin: 20px 0 }
.weixin img { width: 100%; height: auto }
/* 分页 */
.pagelist { text-align: center; color: #666; width: 100%; clear: both; margin: 20px 0; padding-top: 20px }
.pagelist a { color: #666; margin: 0 2px; border: 1px solid #000; padding: 5px 10px; }
.pagelist a:hover { color: #f00; text-decoration: underline }
.pagelist > b { border: 1px solid #000; padding: 5px 10px; }
/*内容页*/
.infos { width: 100%; background: #FFF; border-radius: 10px; overflow: hidden; margin: 20px 0 }
.newsview { padding: 20px }
.intitle { line-height: 40px; height: 40px; font-size: 14px; ; border-bottom: #000 2px solid; }
.intitle a { font-weight: normal; }
.news_title { font-size: 24px; font-weight: normal; padding: 20px 0; color: #333; }
.news_author { width: 100%; color: #999; line-height: 18px; }
.news_author span { margin-right: 10px; padding-left: 20px }
.au01 { background: url(../images/author2.png) no-repeat left center }
.au02 { background: url(../images/date.png) no-repeat left center }
.au03 b { color: #333; padding: 0 5px }
.au04 { font-weight: normal; }
.news_about { color: #888888; border: 1px solid #F3F3F3; padding: 10px; margin: 20px auto 15px auto; line-height: 23px; background: none repeat 0 0 #F6F6F6; }
.news_about strong { color: #38485A; font-weight: 400 !important; font-size: 13px; padding-right: 8px; }
.news_content { line-height: 24px; font-size: 14px; }
.news_content p { overflow: hidden; padding-bottom: 4px; padding-top: 6px; word-wrap: break-word; }
.tags a { background: #F4650E; padding: 3px 8px; margin: 0 5px 0 0; color: #fff; }
.tags { margin: 10px 0; }
.news_infos { line-height: 24px }
.news_infos p { margin-bottom: 10px }
.news_infos img { max-width: 650px }
.share { padding: 20px; }
.nextinfo { line-height: 24px; width: 100%; background: #FFF; border-radius: 10px; overflow: hidden; margin: 20px 0 }/*上一篇下一篇*/
.nextinfo p { padding: 4px 10px; border-radius: 5px; }
.nextinfo a:hover { color: #000; text-decoration: underline }
/*相关文章*/
.otherlink { width: 100%; background: #FFF; border-radius: 10px; overflow: hidden; margin: 20px 0 }
.otherlink h2 { border-bottom: #000 2px solid; line-height: 40px; font-size: 14px; background: url(../images/5794.png) left 10px center no-repeat; padding-left: 40px; color: #000 }
.otherlink ul { margin: 10px 0 }
.otherlink li { line-height: 24px; height: 24px; display: block; width: 290px; float: left; overflow: hidden; margin-right: 30px; padding-left: 10px; }
.otherlink li a:hover { text-decoration: underline; color: #000 }
/*文章评论*/
.news_pl { margin: 10px 0; width: 100%; background: #FFF; border-radius: 10px; overflow: hidden; margin: 20px 0 }
.news_pl h2 { background: url(../images/newsbg03.png) no-repeat left 10px center; border-bottom: #000 2px solid; line-height: 40px; font-size: 14px; padding-left: 30px; color: #000 }

/* for 480px or less */
@media screen and (max-width: 480px) {
header, article, footer { width: 100%; margin: auto; overflow: hidden }
nav ul { width: 100% }
nav ul li { display: none; }
#mnav { display: block; z-index: 99999; background: url(../images/logo.png) no-repeat left 10px top 13px #333; }
.pics { margin-top: 40px }
.pics ul li { width: 94%; margin-bottom: 10px; margin-left: 10px; background: #fff }
.pics ul li:nth-child(1) { float: none }
.pics ul li:nth-child(2) { margin: 0 0 0 10px }
.pics ul li:nth-child(3) { float: none }
.pics ul li img { margin: auto; width: 100%; height: auto }
.leftbox, .tuijian, .rightbox { width: 100%; }
.tuijian h2 span { display: none }
.tuijian li { width: 42%; padding: 10px }
.tuijian li:nth-child(3) { border-left: 0 }
.tuijian li:nth-child(4) { border-left: #ccc 1px solid; border-bottom: #ccc 1px solid }
.tuijian li:nth-child(5) { border-left: 0 }
h3.blogtitle { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }/*文字溢出*/
.blogpic { overflow: hidden; width: 100%; height: 100px; float: none; border-radius: 5px; }
.lm, .viewnum, .pingl { display: none }
.input_text { width: 70% }
.ad { }
.ad img { width: 100% }
.newblogs h2 span { display: none }
.newblogs { margin-top: 50px }
.pagelist a { margin: 0x; border: 0; padding: 5px 0px; }
.pagelist > b { padding: 0; }
.news_infos img { width: 100% }
}
